<h1>Minhas Contas</h1>

<body>

    <% @accounts.each do |account| %>
        <div class="card">
        <h3 class="card-header">Conta</h3>
        <div class="card-body">
            <h5 class="card-title">Número: <%= account.number %></h5>
            <p class="card-text">Agência: <%= account.agency %> </p>
            <p class="card-text">Tipo: <%= account.type %> </p>
            <a href="#" class="btn btn-success">Entrada</a>
            <a href="#" class="btn btn-danger">Saída</a>
        </div>
        </div></br>
    <% end %>

</body>